.headerMainDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.headerLogo {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.headerLogoSpan {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.headerIcon {
  height: 27px;
  width: 27px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.75s ease; /* Add transition for smooth animation */
}

.headerIcon:hover {
  transform: rotate(90deg); /* Rotate the icon on hover */
}

.headerFirstDiv {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.headerSecondDiv {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headerSecondDivContentOne {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerSecondDivContentTwo {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenuItems {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5;
  transition: color 0.3s, font-size 0.3s;
}

.headerMenuItems:hover {
  font-size: 20px;
  letter-spacing: 2;
}

/* For small screens (up to 320px) */
@media (max-width: 320px) {
  .headerLogo {
    font-weight: 300;
    font-size: 12px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 13px;
  }

  .headerSecondDivContentOne {
    display: none;
  }

  .headerMenuItemsIcons {
    height: 15px;
    width: 15px;
  }

  .headerMenuItemsIcons:hover {
    height: 20px;
    width: 20px;
  }

  .headerIcon {
    height: 15px;
    width: 15px;
  }
}

/* For small screens (up to 375px) */
@media (min-width: 321px) and (max-width: 375px) {
  .headerLogo {
    font-weight: 300;
    font-size: 13px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 15px;
  }

  .headerSecondDivContentOne {
    display: none;
  }

  .headerMenuItemsIcons {
    height: 17px;
    width: 17px;
  }

  .headerMenuItemsIcons:hover {
    height: 20px;
    width: 20px;
  }

  .headerIcon {
    height: 17px;
    width: 17px;
  }
}

/* For small screens (up to 600px) */
@media (min-width: 376px) and (max-width: 600px) {
  .headerLogo {
    font-weight: 300;
    font-size: 15px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 17px;
  }

  .headerSecondDivContentOne {
    display: none;
  }

  .headerMenuItemsIcons {
    height: 20px;
    width: 20px;
  }

  .headerMenuItemsIcons:hover {
    height: 24px;
    width: 24px;
  }

  .headerIcon {
    height: 20px;
    width: 20px;
  }
}

/* For medium screens (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .headerLogo {
    font-weight: 300;
    font-size: 18px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 22px;
  }

  .headerSecondDivContentOne {
    display: none;
  }

  .headerMenuItemsIcons {
    height: 25px;
    width: 25px;
  }

  .headerMenuItemsIcons:hover {
    height: 28px;
    width: 28px;
  }

  .headerIcon {
    height: 30px;
    width: 30px;
  }
}

/* For large screens (901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  .headerSecondDivContentTwo {
    display: none;
  }

  .headerLogo {
    font-weight: 300;
    font-size: 24px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 30px;
  }

  .headerMenuItems {
    font-size: 14px;
  }

  .headerMenuItems:hover {
    font-size: 18px;
  }

  .headerIcon {
    height: 25px;
    width: 25px;
  }
}

/* For extra large screens (1201px and above) */
@media (min-width: 1201px) and (max-width: 2559px) {
  .headerSecondDivContentTwo {
    display: none;
  }

  .headerLogo {
    font-weight: 300;
    font-size: 28px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 35px;
  }

  .headerMenuItems {
    font-size: 18px;
  }

  .headerMenuItems:hover {
    font-size: 22px;
  }

  .headerIcon {
    height: 30px;
    width: 30px;
  }
}

/* For very large screens (2560px and above) */
@media (min-width: 2560px) {
  .headerSecondDivContentTwo {
    display: none;
  }

  .headerLogo {
    font-weight: 300;
    font-size: 40px;
  }

  .headerLogoSpan {
    font-weight: 300;
    font-size: 45px;
  }

  .headerMenuItems {
    font-size: 36px;
  }

  .headerMenuItems:hover {
    font-size: 40px;
  }

  .headerIcon {
    height: 47px;
    width: 47px;
  }
}
