/* GlobalStyles.module.css */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.lightTheme {
  background-color: #f3fbfc;
}

.darkTheme {
  background-color: #171f38;
}

.lightThemeTxt {
  color: #74bdcb;
  font-family: "Quicksand", sans-serif;
}

.darkThemeTxt {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.lightThemeTxtOne {
  color: #035295;
  font-family: "Quicksand", sans-serif;
}

.darkThemeTxtOne {
  color: #01d293;
  font-family: "Quicksand", sans-serif;
}

.lightThemeTxtTwo {
  color: #74bdcb;
  font-family: "Quicksand", sans-serif;
}

.darkThemeTxtTwo {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.lightThemeTxtTwo:hover {
  color: #035295;
  font-family: "Quicksand", sans-serif;
}

.darkThemeTxtTwo:hover {
  color: #01d293;
  font-family: "Quicksand", sans-serif;
}

.lightThemeTxtThree {
  color: #74bdcb;
  font-family: "Quicksand", sans-serif;
}

.darkThemeTxtThree {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.lightThemeTxtFour {
  color: black;
  font-family: "Quicksand", sans-serif;
}

.darkThemeTxtFour {
  color: grey;
  font-family: "Quicksand", sans-serif;
}

.lightThemeScrollbar::-webkit-scrollbar {
  width: 11px;
}

.lightThemeScrollbar::-webkit-scrollbar-track {
  background: #f3fbfc;
}

.lightThemeScrollbar::-webkit-scrollbar-thumb {
  background-color: #a0c0d6;
  border-radius: 20px;
  border: 2px solid #171f38;
}

.darkThemeScrollbar::-webkit-scrollbar {
  width: 9px;
}

.darkThemeScrollbar::-webkit-scrollbar-track {
  background: #171f38;
}

.darkThemeScrollbar::-webkit-scrollbar-thumb {
  background-color: #01d293;
  border-radius: 20px;
  border: 2px solid #e0e1dd;
}

.socialMediaIcon {
  font-size: 50px !important;
  transition: color 0.3s, font-size 0.3s;
  border-radius: 17px;
  border: 2px solid;
  padding: 7px;
}

.socialMediaIcon:hover {
  font-size: 60px !important;
  padding: 7px;
}

/* For small screens (up to 320px) */
@media (max-width: 320px) {
}

/* For small screens (up to 375px) */
@media (min-width: 321px) and (max-width: 375px) {
}

/* For small screens (up to 600px) */
@media (min-width: 376px) and (max-width: 600px) {
}

/* For medium screens (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
}

/* For large screens (901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
}

/* For extra large screens (1201px and above) */
@media (min-width: 1201px) and (max-width: 2559px) {
}

/* For very large screens (2560px and above) */
@media (min-width: 2560px) {
  .socialMediaIcon {
    font-size: 100px !important;
    padding: 10px;
  }

  .socialMediaIcon:hover {
    font-size: 120px !important;
    padding: 7px;
  }
}
